.footer {
  height: var(--nav-size);
  background-color: var(--bg-nav);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.footer-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
