.time-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.time-frame h1 {
  color: #1db954;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  list-style: none;
}

.list-itens {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.list-itens img {
  margin-right: 5px;
  height: 45px;
  width: 45px;
}

.list-itens p {
  font-size: medium;
}
