@import "../variables.sass";

.header {
  height: 70px;
  width: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;

  .title {
    color: $font-accent;
    font-size: 1.2rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    font-size: 1.2rem;
  }
}
