@import "../_variables.sass";

.header {
  height: 70px;
  width: 100%;
  padding: 0 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;

  .title {
    color: $font-accent;
  }
}
