.home-cg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  flex: 6;
  padding-top: 3vh;
  border-left: var(--border);
}

.home-cg h1 {
  color: #1db954;
}

.home-cg p {
  color: var(--text-color);
}

.M-home-cg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  flex: 6;
  padding-top: 3vh;
}
