.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  font-size: large;
}

.is-here {
  padding: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.is-here:hover {
  filter: brightness(1.2);
}

.icon {
  margin-left: 7px;
}
